.file-data(ng-if="file_data.file")
  table.table
    thead
      tr
        th.file-name(ng-bind="('file.name' | translate)")
        th.file-size(ng-bind="('file.size' | translate)")
        th(ng-bind="('file.status' | translate)")
    tbody
      tr
        td
          strong(ng-bind="file_data.file.name")
        td
          span.file-size(ng-bind="(file_data.file.size | fileSize: 'size') + ('file_size_units.'+(file_data.file.size | fileSize: 'units') | translate)")
        td.text-center
          span(ng-show='file_data.file.valid && file_data.data')
            i.glyphicon.glyphicon-ok.icon-success
          span(ng-show='!file_data.file.valid')
            i.glyphicon.glyphicon-remove.icon-error
          span.glyphicon.glyphicon-refresh.spinner(ng-show='file_data.file.valid && !file_data.data')
  .controls
    .btn.btn-danger(ng-click="file_data.removeFile()")
      i.glyphicon.glyphicon-trash
      span(ng-bind="('controls.remove_file' | translate)")
    .btn.btn-primary.pull-right(
      ng-class="{disabled: !file_data.data}"
      ng-click="file_data.nextStep()"
    )
      span(ng-bind="('controls.next_step' | translate)")
      i.glyphicon.glyphicon-chevron-right