@import "variables.styl"

/* Content styles */
.well
  text-align center
  &.over
    background-color #dff0d8
    border-color #d6e9c6
    color #3c763d

.file-size
  white-space nowrap
.icon
  &-success
    color #5CB85C
  &-error
    color #bd362f
.controls
  margin 20px 0
.btn
  .glyphicon
    margin-right 5px