@import "variables.styl"

/* Content styles */
.well
  text-align center
  &.over
    background-color #dff0d8
    border-color #d6e9c6
    color #3c763d

.file-data
  .file-name
    width 100%
  .file-size
    min-width 120px
    white-space nowrap
    