@import "variables.styl"

/* Header styles */
.language
  padding 0 !important
  margin 15px 5px
  cursor pointer
  &.active
    cursor default !important
    .image
      opacity 1
      box-shadow none !important
  &:hover
    .image
      opacity 1
      box-shadow 0 0 20px 3px #0cf
  .image
    opacity 0.5
    size 30px 22px
    display inline-block
    vertical-align middle
    padding 0
    margin 0 5px
    background-size cover
    background-position 50% 50%
    background-repeat no-repeat
    &.en
      background-image url('~images/en.png')
    &.ru
      background-image url('~images/ru.png')
  .name
    display none
    margin-left 10px
    